body {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 3rem;
  width: 100vw;
  height: 100vh!important;
  overflow: hidden;
}

main {
  background: #fff;
  width: 100vw;
  height: 100vh;
}

hr {
  width: 90%;
}

*::selection {
  background: transparent;
}
