body {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 3rem;
  width: 100vw;
  height: 100vh!important;
  overflow: hidden;
  cursor: pointer;
}

main {
  background: radial-gradient(#aaa, #fff);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

hr {
  width: 90%;
}

li {
  font-size: 2.5rem;
}

ul {
  margin: 1rem;
}

*::selection {
  background: transparent;
}
