.custom-li {
  font-size: 2.5rem;
}

.custom-ul {
  margin: 1rem;
}

.left-align-content {
  display: block;
  width: 80%;
}

.center {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  width: 100%;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.img-row {
  flex-direction: row;
  justify-content: space-around;
  height: 90%;
}

.img-row>img{
  height: 50%;
  width: auto;
}

.img-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}

.img-col>img{
  height: 35%;
  display: flex;
  justify-items: center;
}

.img-diag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.img-diag>img:last-child{
  height: 35vh;
  grid-column: 2;
  grid-row: 2;
}

.img-diag>img:first-child{
  height: 35vh;
  grid-column: 1;
  grid-row: 1;
}

.img-revdiag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.img-revdiag>img:last-child{
  height: 35vh;
  grid-column: 2;
  grid-row: 1;
}

.img-revdiag>img:first-child{
  height: 35vh;
  grid-column: 1;
  grid-row: 2;
}

.img-whole {
  height: 90%;
}

#qrcode {
  width: 300px;
  height: 300px;
}

#slides-control {
  width: 15vw;
  height: 100vh;
  position: fixed;
  overflow: auto;
}

.list {
  width: 15vw;
  height: 15vh;
  font-size: 0.5rem;
}

#slide-preview {
  width: 66vw;
  height: 66vh;
  position: fixed;
  top: calc(34vh - 4px);
  left: calc(34vw - 4px);
}

.preview {
  font-size: 1rem;
  border: 2px solid #000;
}

.preview hr {
  width: 70%;
}

.preview .custom-li {
  font-size: 0.7rem;
}

.preview .custom-ul {
  margin: 0.3rem;
}

.preview .heading {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.preview .img-whole {
  height: 90%;
  align-items: normal;
}


#toggle-preview {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 0;
  max-width: 15vw;
  max-height: 15vh;
}

#next-slide {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 5rem;
  max-width: 15vw;
  max-height: 15vh;
}

#prev-slide {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 8rem;
  max-width: 15vw;
  max-height: 15vh;
}
